
html {
	font-family: Avenir, Calibri, sans-serif;
	font-size: calc( 0.875em + 0.75vw );
}

* {
	margin: 0;
}

body * + * {
	margin-top: 1.25rem;
}

header,
footer {
	background-color: rgba(0, 60, 128, 0.82);
	color: white;
}

header {
	display: flex;
	align-items: center;
	flex-direction: row;
}

header h1 {
	font-family: Baskerville, Constantia, Palatino, Georgia, sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: 1em;
	margin: 1em;
	line-height: 1.333;
}

.white-house {
	display: block;
	font-size: 0.8625em;
	letter-spacing: 0.2em;
	font-style: normal;
	text-transform: uppercase;
}

.logo {
	margin: 1em;
	width: 4em;
}

footer {
	font-size: 60%;
	padding: 1rem;
	margin-top: 3rem;
}

main {
	max-width: 30em;
	margin: 1em auto;
	padding: 0 1em;
	line-height: 1.4;
}

@media (min-width: 480px) {

	main {
		line-height: 1.6;
	}
	
}

a {
	color: inherit;
}

h1 a, h2 a {
	text-decoration: none;
}

a:hover {
	color: rgba(0,60,128,0.82);
}

.article-index {
	list-style: none;
	padding: 0;
}

.article-index-item {
	display: flex;
	border-bottom: 1px solid #eee;
	padding-bottom: 2.5em;
}

.article-index-item:first-child {
	flex-direction: column;
}

.article-index-item:first-child,
.article-index-item:first-child .image,
.article-index-item:first-child img,
main {
	margin-top: 0
}

img {
	display: block;
	width: 100%;
}

time {
	display: block;
	font-size: calc(0.625em + 0.5vw);
	color: #aaa;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.article-index-item h2 {
	margin-top: 0;
}

.article-index-item p {
	margin-top: 0.5em;
	display: none;
}

.article-index-item:first-child p {
	display: block;
}

.article-index-item .image {
	flex: 0 0 calc(4em + 3vw);
	margin-right: 1em;
}

.article-index-item:first-child .image {
	flex-basis: auto;
	margin-right: 0;
}

.article-index-item:first-child img {
	width: 100vw;
	padding-left: 50%;
	margin-left: -50vw;
}

@media (min-width: 600px) {

	.article-index-item .image {
		flex-basis: calc(8em + 1vw);
	}
	
	.article-index-item p {
		display: block;
	}
	
}

h1, h2, h3 {
	line-height: 1;
}

article h1 {
	margin-top: 1em;
}

article time {
	margin-top: 0.25em;
}

@media (max-width: 30em) {
	article figure {
		width: 100vw;
		margin-left: calc(50% - 50vw);
	}
	article figcaption {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

figcaption {
	font-size: 0.75em;
	color: #aaa;
	margin-top: 0.5rem;
}

